.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.darkmod {
  background-color: #282c34 !important;
  color: aliceblue !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.icon-check {
  background-color: #ccc;
  border-radius: 3px;
  /* display: none */
}
.todo-item:hover .icon-check {
  display: inline;
}
.btn-todo {
  text-decoration: line-through !important;
  opacity: 0.5;
}
.todo-default {
  text-align: left !important;
  margin: 6px 0 !important;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
